/* 
td .imagem{
    width:3rem;
}
nav p{
    display: inline-flex;
    padding-left: 2rem;
    color: #ffffff;
    
}
span{
    size: 5rem;
    color: #ffff;
}
.cabeçalho p{
    
    text-wrap:wrap ;
    color: red;
    
}
a{
    display: inline;
    text-wrap:wrap ;
}
ul{
    & li{
        padding-right: 5rem;
    }
    text-wrap: nowrap;
    display: inline-flex;
    list-style-type: none;
    
 
    
}
.tabelaBancos{
    background-color: aqua;
}
h1{
    size: 12px;
    font-size: 12;
    
}
.header{

font: #ffff;
size: 20px;

display:inline-flex;
text-wrap: nowrap;
} */
